@{
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/stylesheet.css" rel="stylesheet" />
</head>
<body>
   
   
    <div class="wrapper">
        <div class="logo">
            <img src="~/dist/assets/img/moutain.png" />
        </div>
        <div class="text-center mt-4 name">
            Register
        </div>
        <form class="p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="userName" id="userName" placeholder="UserName" style="padding:15px 10px" maxlength="30" required>
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="gmail" id="gmail" placeholder="example@gmail.com" style="padding:15px 10px" required>
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="pwd" placeholder="Password" style="padding:15px 10px" maxlength="20" pattern=".{7,}" required>
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="passwordconfirm" id="pwd" placeholder="Confirm Password" style="padding:15px 10px" maxlength="20" required>
            </div>
            <button asp-action="RegisterSaveData" asp-controller="Login" class="btn btn-primary mt-3" type="submit">Register</button>

        </form>       
    </div>
    @if (@TempData["Error"] == "Mật khẩu xác nhận không khớp.")
    {
        <div class="alert alert-warning">
            <strong>Warning!</strong> Mật khẩu xác nhận không khớp.;
}
        </div>
    }


    <script>
        // Ensure that the modal is shown when the page loads
        document.addEventListener('DOMContentLoaded', function () {
            var myModal = new bootstrap.Modal(document.getElementById('myModal'));
            myModal.show();
        });
    </script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
<!-- Bootstrap JS -->
