
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@model List<SubtaskViewModel>
<div style="margin-left: 230px; margin-top: 60px;">


    <table class="table table-hover">
        <thead>
            <tr>
                <th>Tiêu đề</th>
                <th>Mô tả</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 0; // Khởi tạo biến đếm
            }
            @foreach (var subtask in Model)
            {
                <tr style="cursor:pointer">
                    <td>Công việc số: @(++i)</td> 
                    <td>@subtask.Description</td>
                    <td>@subtask.Status</td>
                </tr>
            }
        </tbody>
</table>
</div>


